<div>
    <mat-card>
        <h2 class="mb-0 text-center">Add Bookmark</h2>
        <mat-card-content>
            <form [formGroup]="bookmarkForm" #bookmarkFormDirective="ngForm" (ngSubmit)="addBookmark(bookmarkFormDirective, undefined)">
                <mat-form-field class="w-100">
                    <mat-label for="title">Name</mat-label>
                    <input matInput type="text" formControlName="title" name="title" required/>
                    <mat-error *ngIf="bookmarkForm.get('title')?.errors?.required">Please input a bookmark name.</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field class="w-100">
                    <mat-label>URL</mat-label>
                    <span matPrefix>www.</span>
                    <input matInput type="text" formControlName="url" name="url" required/>
                    <mat-error *ngIf="bookmarkForm.get('url')?.errors?.required">Please input the URL.</mat-error>
                    <mat-error *ngIf="bookmarkForm.get('url')?.errors?.invalidUrl">Please input a proper URL without the "www.".</mat-error>
                </mat-form-field>
                <br/>
                <mat-form-field class="w-100">
                    <mat-label>Group</mat-label>
                    <input matInput type="text" formControlName="group" name="group" required/>
                    <mat-error *ngIf="bookmarkForm.get('group')?.errors?.required">Please input the group.</mat-error>
                </mat-form-field>
                <br/>
                <br/>
                <button [disabled]="!bookmarkForm.valid" class="btn-block button-color" mat-raised-button>Add Bookmark</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
