<div *ngIf="bookmarks.length > 0">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
        <h2>Your Bookmarks</h2>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Choose Bookmark Group</mat-label>
                <mat-select (selectionChange)="showCurrentGroup($event.value)" [(value)]="selected" [(ngModel)]="selected">
                    <mat-option *ngFor="let choice of groups" [value]="choice">{{ choice }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="content">
        <div fxLayout="row wrap" fxLayoutGap="16px grid">
            <div fxFlex="33%" fxFlex.lt-md="100%" fxFlex.md="50%" *ngFor="let bookmark of bookmarks$ | async">
                <mat-card>
                    <mat-card-content>
                        <h2 class="title-class">{{bookmark.title}}</h2>
                        <mat-divider></mat-divider>
                        <br/>
                        <!-- Made it a constant text with the hyperlink of the link to keep the size of the card constant -->
                        <p>URL: <a href={{bookmark.url}}>Click here to go to link!</a> </p>
                        <br/>
                        <p>Group: {{bookmark.group}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <div fxLayout="row" fxLayoutAlign="space-between center">
                            <button (click)="openEditDialog(bookmark)" mat-mini-fab class="button-color">
                                <mat-icon>mode_edit</mat-icon>
                            </button>
                            <button (click)="removeBookmark(bookmark)" mat-mini-fab color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- Only show this part when there are no bookmarks at all -->
<div *ngIf="bookmarks.length === 0">
    <h2 class="d-flex justify-content-center">You have not put any bookmarks yet...</h2>
</div>

