<h2 class="text-center">Edit Bookmark</h2>
<mat-dialog-content class="edit-dialog">
  <form [formGroup]="editBookmarkForm">
    <mat-form-field class="w-100">
      <mat-label for="title">Name</mat-label>
      <input matInput type="text" name="title" formControlName="title" [value]="editBookmarkForm.get('title')?.value"
        required />
      <mat-error *ngIf="editBookmarkForm.get('title')?.errors?.required">Please input a bookmark name.</mat-error>
      <mat-error *ngIf="editBookmarkForm.get('title')?.errors?.maxlength">Please input a bookmark name with less than 40
        characters.</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="w-100 mt-2">
      <mat-label for="url">URL</mat-label>
      <input matInput type="text" name="url" formControlName="url" [value]="editBookmarkForm.get('url')?.value"
        required />
      <mat-error *ngIf="editBookmarkForm.get('url')?.errors?.required">Please input the URL.</mat-error>
      <mat-error *ngIf="editBookmarkForm.get('url')?.errors?.invalidUrl">Please enter a valid URL.</mat-error>
      <mat-error *ngIf="editBookmarkForm.get('url')?.errors?.noProtocol">Please include the protocol at the start (e.g.
        http://.. or https://..).</mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="w-100 mt-2">
      <mat-label for="group">Group</mat-label>
      <input matInput type="text" name="group" formControlName="group" [value]="editBookmarkForm.get('group')?.value"
        required />
      <mat-error *ngIf="editBookmarkForm.get('group')?.errors?.required">Please input the group.</mat-error>
      <mat-error *ngIf="editBookmarkForm.get('group')?.errors?.maxlength">Please input the group with less than 20
        characters.</mat-error>
    </mat-form-field>
    <br />
    <br />
    <div fxLayout="column" fxLayoutGap="10px">
      <button (click)="editBookmark()" [disabled]="!editBookmarkForm.valid" class="btn-block button-color"
        mat-raised-button>Save Bookmark</button>
      <button (click)="cancelEdit()" class="btn-block" color="warn" mat-raised-button>Cancel</button>
    </div>
  </form>
</mat-dialog-content>